{% extends 'common/base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        amigurimi store
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container my-5">

        <!-- Productos -->
        <div class="card mb-5 shadow">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{ product.image.url }}" alt="imagen del roducto" class="product-image" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h2 class="card-title">{{ product.name.username }}</h2>
                        <p class="text-muted">SKU:{{ product.sku }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <h4 class="text-primary">Precio: ${{ product.price }}</h4>
                        <button class="btn btn-success">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- comentarios  -->
        <div class="mb-4">
            <h4>Comentarios</h4>
            
            {% if perms.product.add_comments %}
            <form class="mb-3" action="{% url 'add_new_comment' product.id %}" method="POST">
                {% csrf_token %}
                <div class="mb-2">{{ form.text }}</div>
                <button type="submit" class="btn btn-primary">Publicar comentario</button>
            </form>
            {% endif %}
            
            <!-- lista comentarios  -->
            
            {% for comment in comments %}
            <div class="comment">
                <p>
                    <strong>{{ comment.user.username }}</strong><small class="text-muted">- {{ comment.creation_date }}</small>
                    <p>{{ comment.text }}</p>
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}